body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/583/374/large_2x/forest-scene-with-many-trees-free-vector.jpg");
  background-size: cover;
  }
  
  h1 {
    color: rgb(255, 251, 0);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 6px 6px 15px chocolate;
  }
  
  h2.subhead {
    text-align:center;
    color:rgb(255, 251, 0);
    text-shadow:6px 6px 15px chocolate;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h2 {
    color: rgb(255, 251, 0);
    text-shadow:6px 6px 15px chocolate;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  h3 {
    text-align:center;
    color:rgb(255, 251, 0);
    text-shadow:6px 6px 15px chocolate;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; 
  }

  h4 {
      color:white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px; 
    }
  
  .div1 {
    background-color: rgb(255, 102, 0, 0.6);
    border: 5px solid rgb(187, 106, 1);
    padding: 50px;
    width: 500px;
    margin: 20px;
    float:left;
  }

  .div2 {
  background-color: rgb(255, 102, 0, 0.6);
    border: 5px solid rgb(187, 106, 1);
    padding: 50px;
    width: 1000px;
    margin: 20px;
    float:left;
  }

  .div3 {
    background-color: rgb(255, 102, 0, 0.6);
    border: 5px solid rgb(187, 106, 1);
    padding: 50px;
    width: 250px;
    margin: 20px;
    float:left;
  }

  label {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }