:colours {
    --aqua: #00ffff;
}
.sticky-top {
    background-color: var(--aqua);
}

.col1 {
    background-color:var(--aqua);
}

.col {
    text-align:center;
}

.menu-button{
    background-color: var(--aqua);
}
