:root {
    --sticky-top-colour: #00ffff;
}
.sticky-top {
    background-color: var(--sticky-top-colour);
}

.col1 {
    background-color:var(--sticky-top-colour);
}

.col {
    text-align:center;
}

.menu-button{
    background-color: var(--sticky-top-colour);
    width:100%;
    height:100%;
}
